@media screen and (min-width: 320px) and (max-width: 749px) {
   

    body {
        max-height: 5437px;
    }

    nav {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
   }

    header nav img {
        width: 7.5%;
        height: auto;
        padding-left: 6.9%;
    }

    header nav ul {
        list-style: none;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 28px;
        width: 100%;
        height: 224px;
        background-color: #0000EC;
    }
    
     /* -- here ends navbar -- */

    header section {
        width: 95%;
        height: 283px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        color: #060A24;
       
    }
        
    header section h1 {
        font-family: 'IBM Plex Sans';
        font-size: 2.25em;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 16px;
    }

    header section h1 > span {
        text-decoration: line-through;
    }

    header section h1 .dot {
        text-decoration: none;
        
    }

    header section .subtitle {
        width: 80%;
        height: 66px;
        margin-bottom: 36px;
    }

      header section h3 {
        font-family: 'IBM Plex Mono';
        font-size: 0.875em;
        letter-spacing: 0;
        line-height: 22px;
      } 

      header section h3 span {
          display: none;
      }

header section button {
    width: 95%;
    height: 48px;
    border: none;
    background: #00F3BB;
    margin-bottom: 24px;
    font-family: 'IBM Plex Mono';
    font-weight: medium;
    font-size: 1.125em;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-left: -5%;
}

    /* -- here ends header -- */
    
   main {
       width: 100%;
       margin-top: -30px;
   } 

   main section .blue-container {
       width: 100%;
       height: 1203.5px;
       background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
       clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
       position: relative;
       
       /* z-index: 1; */
   }

   .episode-title {
    font-family: 'IBM Plex Sans';
    font-size: 2.25em;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    padding-top: 30px;
    margin-left: 5%;
   }

   .embed-container {
    position: relative;
    padding-bottom: 260px;
    height: 0;
    overflow: hidden;
    margin-top: -20px;
   }

   .embed-container iframe {
       position: absolute;
       width: 90%;
       height: 140%;
       top: 0;
       left: 0;
       border: none;
       display: inline-block;
       padding: 5%;
   }

/* --> Phone Section */

   main section:nth-of-type(2) {
       display: flex;
       flex-flow: column wrap;
       width: 100%;
       color: #060A24;
       letter-spacing: 0em;
    }
       
     main section:nth-of-type(2) article {
       width: 95%;
       margin-left: 5%; 
       margin-top: -20px; 
     }   
   
  main section:nth-of-type(2) img {
      width: 100%;
   } 
      
   main section:nth-of-type(2) > div:first-child {
    width: 100%;
    margin-top: -110px;
    z-index: 10;
} 
    
main section:nth-of-type(2) h2 {
    font-family: 'IBM Plex Sans';
    font-size: 2.25em;
    line-height: 42px;
}

main section:nth-of-type(2) p {
font-family: 'IBM Plex Mono';
font-size: 0.875em;
line-height: 22px;
}
.where-p {
 width: 100%;
 height: 254px;
}
    
/* --> Invited Section */
       
main section:nth-of-type(3) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    align-content: center;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
}

main section:nth-of-type(3) h2 {
    font-family: 'IBM Plex Sans';
    font-size: 2.25em;
    line-height: 42px;
    margin-left: 5%; 
}
   
main section:nth-of-type(3) > div {
    line-height: 0;
    font-size: 0;
}

main section:nth-of-type(3) img {
    width: 100%;
    padding: 0;
}

/* --> Themes Section */

main section:nth-of-type(4) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
}

main section:nth-of-type(4) h2 {
    font-family: 'IBM Plex Sans';
    font-size: 2.25em;
    margin-left: 5%;
    width: 100%;
    padding-bottom: 37px;
}

main section:nth-of-type(4) article {
    display: flex;
    flex-flow: column wrap;
    margin: 37px 33.8% 42px 33.8%;
}

main section:nth-of-type(4) p {
    font-family: 'IBM Plex Sans';
    font-weight: semibold;
    font-size: 1.5em;
    width: 160%;
    margin-left: -25%;
} 

/* --> Novelties Section */
   
main section:nth-of-type(5) {
    width: 100%;
    height: 341px;
    color: #060A24;
    letter-spacing: 0;
    margin-top: -70px;
}

main section:nth-of-type(5) > div {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    height: 341px;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
   
main section:nth-of-type(5) h2 {
    font-family: 'IBM Plex Sans';
    font-size: 2.25em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
}
  
main section:nth-of-type(5) button {
    font-family: 'IBM Plex Mono';
    font-weight: medium;
    font-size: 1em;
    background: #00F3BB;
    border: none;
    width: 90%;
    height: 48px;
    margin-left: 5%;
}

/* -- here ends main -- */






 
footer {
    width: 100%;
    color: #060A24;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    letter-spacing: 0;
}

footer p {
    font-family: 'IBM Plex Mono';
    font-size: 0.875em;
    margin: 14.7%;
    width: 100%;
    line-height: 22px;
}
    
footer ul li  {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
     align-content: center;
     padding: 20%;
    
}

footer i  {
    font-size: 1em;
    font-family: 'Font Awesome 5 Brands';
    font-weight: regular;
    color: #060A24;
    line-height: 28px;
    
}

footer ul {
    display: flex;
    /* align-items: center; */
    flex-flow: row nowrap;
    list-style: none;
}
    

}
    