@media screen and (min-width: 900px) and (max-width: 1439px) {
    .container {
        /* display: flex;
		flex-direction:column; */
        width: 100%;
        /* max-height: 4000px; */
        height: 100vh;
	}
    
    header {
        /* display: flex; */
		width:100%;
	    /* justify-content: center;
	    align-items:center; 
	    flex-direction: column;
	    flex-wrap:wrap; */
	}
    
	header .logo {
		margin: 7.2%;
	    width: 2.5%;
        height: auto;
	}

    header nav {
        display: flex;
		width: 100%;
        height: 75px;
	}

    input {
        display: none;
    }

    header nav ul {
        display: flex;
        list-style: none;
        width: 70%;
        height: 28px;
        margin-top: -90px; 
        margin-left: 20%;
        justify-content: flex-end;
        padding-top: 15px;
        /* margin: 0; */
    }

    header nav ul li a {
        text-decoration: none;
        color: rgba(6,10,36,0.56);
    }

    a:link {
        text-decoration:none;
        padding-right: 10px;
    }
        
    a:hover {
        color: #00F3BB;
    }
        
    a:active {
        text-decoration:line-through; 
    }
        
    /* -- Here ends navbar -- */
    
    header section div {
        width: 90%;
        height: 84px;
        margin: 13%;
        padding-bottom: 14px;
        /* position: relative; */
        margin-top: 29px;
    }
    
    h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2.25em;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin-top: 100px;
    }
       
    h1 span {
        text-decoration:line-through;
        text-decoration-color: #0000EC;
    }

    h1 .dot {
        text-decoration: none;
    }

    .subtitle {
        width: 75%;
        height: 50px;
        margin: 13%;
        /* position: relative; */
        margin-top: -80px;
    }

    header h3 {
        font-family: 'IBM Plex Mono';
        font-size: 0.75em;
        color: #060A24;
        letter-spacing: 1.6px;
        line-height: 22px;
    }

    header button {
        background: #00F3BB;
        width: 25%;
        height: 48px;
        margin: 13%;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        border: none;
        margin-top: -46px;
    }
    
    /* -- Here ends header -- */

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .blue-back {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        width: 100%;
        height: 1000px;
        clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0% 100%);
        z-index: -1;
        /* display: flex; */
        /* align-items: center;
        align-content: center; */
        margin-top: -40px;
    }

    main h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2.25em;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 42px;
        margin: 4.8%;
        margin-top: 64px;
        z-index: 1;
        padding-top: 140px;;
    }
    
    .iframes {
        width: 50% 50%;
        height: 933px;
        bottom: 11px;
        overflow: hidden;
    }

    iframe {
        height: 240px;
        border: none;
        margin-top: 10px;
        width: 40%;
        margin: 4.8%;
    }
    
    .where-container {
        display: flex;
        flex-direction: column;
       
    }

    .phone {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: -150px;
        margin-left: 7%;
        z-index: 6;
    }

    .where-title {
        width: 100%;
        height: 60px;
        position: relative;
        margin-top: -97.5%;
    }
     
    .where span {
        color: #FFFFFF;
    }

    .where {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2.5em;
        color: #060A24;
        letter-spacing: 0;
        line-height: 45px;
        margin: 48%;
    }

    .where-p {
        width: 52%;
        height: 204px;
        position: relative;
        margin: 45%;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 0.625em;
        color: #060A24;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 224px;
    }

    .invited-container {
        position: relative;
        margin-top: -404px;
    }

    .invited-container h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2.5em;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }
    
    .main-images {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
    }

    .invited-img {
      width: 45%;
      height: auto; 
      display: block; 
    }
    
    .themes {
        width: 100%;
        height: 84px;
        margin: 5%;
    }

    main section .themes h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }
    
    .icon img {
        width: 32.5%;
        height: 104px;
        margin: 33.8%;
        margin-bottom: 12px;
        /* margin-top: 49px; */
    }

    .icon p {
        font-family: 'IBM Plex Sans';
        font-weight: semibold;
        font-size: 24px;
        color: #060A24; 
        letter-spacing: 0;
        text-align: center;
        width: 288px;
        margin: 16px;
    }
    
    .blue-back2 {
        width: 320px;
        height: 341px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 32px, 100% 0%, 100% 100%, 0% 100%);
    }

    .novelties-container {
        width: 100%;
        height: 126px;
        margin: 5%;
    }

    .novelties {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        margin-left: 16%;
        line-height: 42px;
        margin-top: 64px;
        margin-bottom: 151px;
        position: absolute;
    }

    .novelties-btn {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        background: #00F3BB;
        width: 288px;
        height: 48px;
        border: none;
        margin-top: 226px;
        margin-bottom: 36px;
        position: absolute;
    }

    .copy-container {
        width: 100%;
        margin: 14.7%;
    }

    footer p {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
   
    footer ul {
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        width: 106px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: 28px;
        margin-bottom: 45px;
    }

    footer ul li a i {
        width: 5%;
        margin-left: 32px;
        width: 16px;
        height: 18px;
        color: #060A24;
    }

}
   







	
    